body {
	font-family: "SF Pro Text", "Helvetica";
	margin: 0px;
	padding: 0px;
}

h1 {
	padding: 5px;
	background-color: #ccce;
	margin-top: 0px;
	position: sticky;
	top: 0;
}

img {
	width: 60%;
	border: solid 5px #ccc;
	margin: 5px;
	border-radius: 20px;
}

img:hover {
	transform: scale(1.005);
}

#section {
	padding: 5px;
	border: solid 1px #ccc;
	margin: 5px;
}

#recipe {
	padding: 5px;
	font-size: 1.1em;
	margin: 5px;
	border: solid 1px #ccc;
}

#recipe:hover {
	background-color: #f0f0f0;
	text-decoration: underline;
	color: #06f;
}

a {
	color: #06f;
	text-decoration: none;
}
