body {
	font-family: "SF Pro Text", "Helvetica";
	margin: 0px;
	padding: 0px;
	background-color: #1f1f1f;
	color: #ccc;
}

h1 {
	padding: 5px;
	background-color: #333e;
	backdrop-filter: blur(2px);
	margin-top: 0px;
	position: sticky;
	top: 0;
}

h2 {
	border-bottom: solid 2px #ccc;
}

img {
	width: 60%;
	margin: 5px;
	border-radius: 20px;
}

img:hover {
	transform: scale(1.005);
}

#section {
	padding: 5px;
	margin: 5px;
}

#recipe {
	padding: 5px;
	font-size: 1.1em;
	margin: 5px;
	border: solid 1px #ccc;
}

#recipe:hover {
	background-color: #333;
	text-decoration: underline;
}

a {
	color: #ccc;
	text-decoration: none;
}
